{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>
        {% comment %} {% if request.path == "/protfo/" %} 
            Home 
        {% elif request.path == "/protfo/about/" %} 
            About
        {% elif request.path == '/protfo/contact/' %} 
            Contact
        {% else %}
            Other
        {% endif %} {% endcomment %}

        {% comment %} {{title}} {% endcomment %}
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'protfo_css/header.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'protfo_css/footer.css' %}?v=0">
    <link rel="stylesheet" type="text/css" href="{% static 'protfo_css/bodys.css' %}?v=0">
    <style>
        .logout:hover{
            color:red;
            background:white
        }
    </style>

</head>


{% include "header.html" %}

{% block content %}

{% endblock %} 

{% include "footer.html" %}